
@_tablet-break-point: 700px;
@_desktop-break-point: 990px;

@_tablet-break-point-max-width: 699px;
@_desktop-break-point-max-width: 990px;

@container-width: 1170px;

@global-max-width: @container-width;

@spacing-sml: 10px;
@spacing-med: 15px;
@spacing-lrg: 20px;
@spacing-xl: 50px;