.property-page{
    font-size: 1.6rem;

    h2{
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.6;
    }

    h3{
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.6;
    }

    .brief{
        color: @mid-content-color;
        margin-bottom: 1.5em;
        p{
            color: inherit;
            line-height: 1.6;
            &:last-child{
                margin-bottom: 0;
            }
        }
        &.property-saletype{
            color: @content-color;
            font-weight: 500;
        }
        &.property-magigraph{
            margin-bottom: 0;
        }
    }

    .description{
        line-height: 2;
        &.property-description{
            article{
                height: auto;
                max-height: 160px;
                overflow: hidden;
                .global-transition(.5s);

                &.expended{
                    max-height: 1500px;
                }
            }
            a#description-toggle{
                position: absolute;
                bottom: 0;
                left: 0;
                color: @brand;
                background: rgb(255,255,255);
                background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 100%);
                font-weight: 500;
                text-transform: uppercase;
                padding: @spacing-med 0 @spacing-sml;
                .global-transition();
                &:hover{
                    color: darken(@brand, 20%);
                }
            }
        }
    }

    h2.property-price{
        font-size: 2.6rem;
        font-weight: 700;
        margin-bottom: 1em;
        @media(min-width: @_tablet-break-point){
            text-align: right;
        }
    }

    .property-attributes{
        .property-attribute{
            display: inline-block;
            color: @content-color;
            margin-right: @spacing-med;
            &__bbc{
                > span{
                    display: inline-block;
                    margin-right: @spacing-med;
                  
                    &:last-child{
                        margin-right: 0;
                    }
                    span{
                        color: @body-color;
                         font-weight: 500;
                    }
                }
            }
        }
    }

    a.property-quote-link{
        display: block;
        text-transform: uppercase;
        color: @brand;
        font-weight: 700;
        &:hover{
            color: darken(@brand, 20%);
        }
        @media(min-width: @_tablet-break-point){
            text-align: right;
        }

    }

    .page-top-content{
        .row{
            &-top{
                .border-bottom-with-spacing();
            }
            &-bottom{
                padding-bottom: @spacing-med;
            }
        }
    }

    .auction-btn{
        margin-left: @spacing-med;
    }

    .property-share-buttons{
        .flex(stretch, flex-end);
        .property-share-button{
            position: relative;
            display: inline-block;
            margin-left: @spacing-lg;
            .share-popup{
                .hover-hide();
            }
            &:hover{
                .share-popup{
                    .hover-show();
                }
            }
        }
    }

    .property-media{
        position: relative;
        max-width: 1440px;
        margin: 0 auto @spacing-lg;
        overflow: hidden;
        .property-hero-image{
            .image-object-fit-wrap(@padding : 33%);          
            img{
                .image-fit();
                width: 100%;
                height: auto;
            }
        }
        .property-actions{
            width: 100%;;
            position: absolute;
            bottom: @spacing-lg;
            ul{
                li{
                    display: inline-block;
                    margin-right: @spacing-sml;
                    a{
                        display: block;                        
                        background-color: #ffffff;
                        padding: @spacing-sml;
                        .global-border-radius();
                        .global-transition();
                        span{
                            background-color: @brand;
                            padding: @spacing-sml*.6 @spacing-sml;
                            color: #ffffff;
                            font-size: 1.2rem;
                            margin-right: @spacing-sml/2;
                            .global-border-radius();
                        }

                        &:hover{
                            background-color: @brand;
                            color: #ffffff;
                            span{
                                background-color: #ffffff;
                                color: @brand;
                            }
                        }
                    }
                }
            }
        }
    }

    .static-map{
        margin-bottom: @spacing-lrg;
    }

    .property-info{
        position: relative;
        .border-bottom-with-spacing(40px, 40px);
        &.property-intro{
            padding-bottom: 60px;
        }
    }

    .property-inspection{
        ul{
            margin: @spacing-lg 0;
            li{
                .border-bottom-with-spacing();
                .flex(stretch, space-between);
                &:last-child{
                    border-bottom: 0;
                }
                h3{
                    font-size: 1.6rem;
                    font-weight: 400;
                    margin-bottom: 0;
                }
                button{
                    font-size: 1.4rem;
                    font-weight: 500;
                    &:hover{
                        color: @brand;
                    }
                }
                .auction-time{
                    color: @brand;
                    font-weight: 700;
                }
    
            }
        }
    }

    .schools{
        .see-more-schools{
            color: @brand;
            text-transform: uppercase;
            display: inline-block;
            margin-top: @spacing-lg;
            font-weight: 700;
            &:hover{
                color: darken(@brand, 20%);
            }
        }

        .tab-pane{
            display: none;
            &.active{
                display: block;
            }
    
        }
    
    }

    .school-list-header{
        width: 100%;
        .flex(stretch, space-between);
        .border-bottom-with-spacing(0, @spacing-lg);
        ul{
            li{
                display: inline-flex;
                a{           
                    position: relative;         
                    font-size: 1.8rem;
                    font-weight: 500;
                    text-transform: uppercase;
                    display: inline-block;
                    padding: @spacing-lg;
                    overflow: hidden;
                    &:after{
                        content:'';
                        display: block;
                        position: absolute;
                        width: 100%;
                        height: 3px;
                        bottom: -3px;
                        left: 0;
                        background-color: @brand;
                        .global-transition();
                    }
                    &:hover{
                        &:after{
                            bottom: 0;
                        }
                    }
                }
                &.active{
                    a{
                        color: @brand;
                        &:after{
                            bottom: 0;
                        }
                    }
                }
            }
        }
        span.powered-by{
            display: flex;
            align-items: center;
            a{
                padding:  0 5px;
            }
        }
    }

    .school-table{
        width: 100%;
        @media(min-width: @_tablet-break-point){
            display: table;
        }
        .school-table-row-header{
            @media(min-width: @_tablet-break-point){
                display: table-row;
            }
            .school-table-item{
                text-transform: uppercase;
                color: @mid-content-color;
                border-bottom: 0;
            }
          
        }

        .school-table-row{
            @media(min-width: @_tablet-break-point){
                display: table-row;
                &:last-child{
                    .school-table-item{
                        border-bottom: 0;
                    }
                }
            }
        }

        .school-table-item{
            @media(min-width: @_tablet-break-point){
                display: table-cell;
                padding: @spacing-med 0;
                .global-border-bottom();
            }
        }
    }

    
    .property-recent-sales{
        ul{
            .card{
                .border-bottom-with-spacing(@spacing-med, @spacing-med);
                &:last-child{
                    margin-bottom: 0;
                    border-bottom: 0;
                }
                &-wrapper{
                    .flex(stretch, space-between);
                    
                }
                &-photos{
                    width: 100%;
                    max-width: 120px;
                    a.item{
                        .image-object-fit-wrap(66%);
                        img.image{
                            .image-fit();
                        }
                    }

                    button.slick-arrow{
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        color: #ffffff;
                        opacity: 0;
                        visibility: hidden;
                        z-index: 9;
                        .global-transition();

                        &:before{
                            font-size: 20px;
                        }
                   
                        &.slick-prev{
                            left: @spacing-sml;
                        }
                        &.slick-next{
                            right: @spacing-sml;
                        }
                    }

                    &:hover{
                        button.slick-arrow{
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
                &-info{
                    width: calc(~"100% - 150px");
                    .flex(center, space-between, wrap, row-reverse);
                    &__price{
                        .flex(stretch, flex-start, wrap, column);
                        &-text{
                            font-weight: 700;
                            text-align: right;
                            margin-bottom: @spacing-sml;
                        }
                    }
                    &__detail{
                        .flex(stretch, flex-start, wrap, column);
                        &-address{
                            font-weight: 700;
                            margin-bottom: @spacing-sml;
                        }
                        &-bbc{
                            .card__number{
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
    }

    .pocket-insights{
        .pocket-insight{
            &__map{
                margin-bottom: @inner-section-space;
            }

            &__median{
                .border-bottom-with-spacing(@spacing-lg, @spacing-lg);
                .big-number-wrapper{
                    span{
                        display: block;
                        font-weight: 700;
        
                        &.big-number{
                            color: @brand;
                            @media(min-width: @_tablet-break-point){
                                font-size: 3.8rem;
                                line-height: 1.4;
                            }
                        }
                    }
                }
            }

            &__wages{
                .border-bottom-with-spacing(@spacing-lg, @spacing-lg);
            }

            &__charts{
                .border-bottom-with-spacing(@spacing-lg, @spacing-lg);
                .col-chart{
                    margin-bottom: @spacing-lg;
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }

            &__occupations-interests{
                .col-occupations{
                    li{
                        .border-bottom-with-spacing(@spacing-med, @spacing-med);
                        &:last-child{
                            border-bottom: 0;
                            padding-bottom: 0;
                        }
                    }
                }
            }

        }
    }

    .property-mores{
        .border-bottom-with-spacing(@inner-section-space, @inner-section-space);

        &__title{
            .flex(stretch, space-between);
            width: 100%;
            > a{
                color: @brand;
                text-transform: uppercase;
            }
        }
        .property-more{
            &-wrapper{
                display: block;
                .global-border();
                &__image{
                    display: block;
                    overflow: hidden;
                    .image-object-fit-wrap(66.6%);
                    img.image{
                        .image-fit();
                    }
                }
                &__detail{
                    font-weight: 700;
                    padding: @spacing-med;
                    span[class ^= "property-more-wrapper__detail-"]{
                        display: block;
                        margin-bottom: @spacing-sml/2;
                        &:last-child{
                            margin-bottom: 0;
                            font-weight: 400;
                            color: @content-color;
                        }
                    }
                }
            }
        }
    }

    .property-parter-links{
        width: 100%;
        margin-bottom: @section-space;
        @media(min-width: @_tablet-break-point){
            width: 66.66%;
        }
    }

    //  Sidebar Styles
    .property-sidebar{
        h4{
            font-size: 1.6rem;;
        }
    }

    .property-sidebar{
        position: relative;
        z-index: 3;
        margin-top: -80px;
        height: 100%;
    }
    .agency-logo{
        width: 100%;
        padding: @spacing-sml @spacing-med;
        text-align: center;
        img{
            max-width: 100%;
        }
    }
    .sidebar-wrapper{
        position: sticky;
        top: 25px;
    }
    .sidebar-content{
        padding: @spacing-med;
        .global-border();
        .agency-contact{
            margin-bottom: @spacing-lg;
        }
        .agents{
            .agent{
                margin-bottom: @spacing-med;
                .flex(center, space-between);
                &:last-child{
                    margin-bottom: 0;
                }
                &-photo{
                    .image-object-fit-wrap();
                    width: 60px;
                    img{
                        .image-fit();
                    }
                }
                &-detail{
                    span{
                        display: block;
                    }
                    a{
                        color: @mid-content-color;
                    }
                }
                &-phone{
                    padding: @spacing-sml;
                    .global-border();
                    .global-border-radius();
                }
            }
        }

        .agency-enquiry-form{
            button.btn-submit{
                font-weight: 400;
                .global-border-radius(0);
            }
        }
    }
    .property-share-buttons{
        .flex();
        margin-top: @spacing-med;
        li{
            display: inline-flex;
            width: 100%/3;
            .global-border();
            border-right: 0;
            &:last-child{
                border-right: 1px solid @border-color;
            }
            button{
                width: 100%;       
                padding: @spacing-sml @spacing-med;
                .global-transition();
                &:hover{
                    .rolloverBtn();
                }
            }
        }
    }
    .sidebar-footer{
        text-align: center;
        padding: @spacing-med 0;
    }

}

.tag-cloud-logo{
    .clear-fix();
    a{
        float: right;
    }
}
.tag-cloud{
    position: relative;
    height: 280px;
    font-size: 1rem;
    line-height: 1.2;
    .w-loop(10);
    .w10{
        color: @brand;
        font-weight: 500;
    }
}

